.container {
  border: 1px solid red;
  width: 200px;
  display: flex;
  justify-content: space-around;
  /*   flex-flow: row wrap; */
  /*   align-items: stretch; */
  height: 40px;
}

.box {
  border: 1px solid red;
  flex-grow: 2;
}
.box1 {
  border: 1px solid red;
  flex-grow: 1;
}
.input {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
  height: 100%;
  border: 1px solid green;
  /*   width:100%;
*/
}
.input1 {
  /* border: 1px solid green; */
  width: 30px;
}

.inputDiv {
  border: 1px solid black;
  width: 30px;
}
